/** @format */

#player {
	display: flex;
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	border: 2px solid aqua;
}
.scroll-div {
	background-color: rgb(160, 159, 159);
	list-style: none;
	padding: 0;
}
span:hover {
	background-color: #fff;
	cursor: pointer;
}
span {
	font-size: x-large;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.scroll-div::-webkit-scrollbar {
	display: none;
}
.scroll-div:first-child {
	padding-top: 10px;
}
