#player {
	display: flex;
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	border: 2px solid aqua;
}

.scroll-div {
	background-color: rgb(160, 159, 159);
	list-style: none;
	padding: 0;
	width: 320px;
}

.playlist-title {
	display: block;
	padding: 4px 8px;
	font-size: large;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}

.playlist-title:hover {
	background-color: #fff;
}

.scroll-div::-webkit-scrollbar {
	display: none;
}

.scroll-div > :first-child {
	padding-top: 10px;
}
